@import 'variables.less';
@import 'mixins.less';

.timeline {
	margin-bottom: @baseline;

	.legend {
		margin-bottom: (@rhythm*2);
		font-size: 10px;
		line-height: 7px;
		letter-spacing: 0.05em;

		> a {
			float: left;
			display: inline-block;
			min-height: (@rhythm*2);
			.grid-column(3);
			min-width: (@width - @grid-margin);
			margin-right: 10px;
			border-bottom: solid 1px @emerald;
			text-align: center;
			text-decoration: none;

			&.blue {
				border-color: @peter-river;
			}

			&.yellow {
				border-color: @sun-flower;
			}

			&:last-child {
				margin-right: 0px;
			}

			&.disabled {
				border-color: @silver;
			}

			&.not-toggle {
				cursor: default;
			}
		}
	}

	.content {
		position: relative;
		padding: @baseline 0px;
		overflow: hidden;

		.details {
			position: absolute;
			z-index: (@max-zindex / 1000);
			height: 100%;
			width: 1px;
			right: 50%;
			margin-right: -0.5px;
			margin-top: -(@baseline*2);
			background-color: @silver;

			.head {
				position: absolute;
				top: @baseline;
				width: 20px;
				height: 7px;
				margin-left: -10px;
				.bg-img-uri('timeline-arrow.png');
			}

			.tail {
				position: absolute;
				bottom: -@baseline;
				width: 3px;
				height: 24px;
				margin-left: -1px;
				.bg-img-uri('timeline-tail.png');
			}
		}

		.box, .box-date {
			border: solid 1px @silver;
		}

		.blue:nth-child(2n+1), .green:nth-child(2n+1), .yellow:nth-child(2n+1) {
			padding-left: (@rhythm*2);
			padding-right: (@rhythm*2-1);
			border: solid 1px @silver;
		}

		.box {
			float: left;
			.grid-column(4);
			width: (@width - 2-12*2);
			height: (@baseline*3 - 2-12*2);
			margin: 0px @grid-margin @baseline 0px;
			padding: (@rhythm*2);
			overflow: hidden;
			background-color: @clouds;
			font-size: (@rhythm*2);
			line-height: (@rhythm*3);
			letter-spacing: 0.01em;

			> span {
				display: block;
			}

			a {
				text-decoration: none;
			}

			.title {
				margin-top: -5px;
				font-variant: small-caps;
				font-weight: 700;
				letter-spacing: 0.06em;
			}

			&:before {
				position: absolute;
				z-index: (@max-zindex / 100);
				width: 3px;
				height: 3px;
				right: 50%;
				margin-top: 22px;
				margin-right: -1.5px;
				border-radius: 50%;
				content: '';
				background-color: @asbestos;
			}

			&:nth-child(2n+1) {
				margin-right: 0px;
			}

			&:nth-child(3) {
				margin-top: (@baseline*2);
			}

			&:nth-child(2n+4) {
				margin-top: -(@baseline*2);
			}

			&:hover:before {
				background-color: @nephritis;
			}

			&:hover, &:nth-child(2n+1):hover {
				border-color: @emerald;
			}
		}

		.blue, .yellow, .green {
			padding-left: (@rhythm*2-1);
		}

		.blue {
			border-left: solid 2px @peter-river;

			&:nth-child(2n+1) {
				border-right: solid 2px @peter-river;
			}
		}

		.green {
			border-left: solid 2px @emerald;

			&:nth-child(2n+1) {
				border-right: solid 2px @emerald;
			}
		}

		.yellow {
			border-left: solid 2px @sun-flower;

			&:nth-child(2n+1) {
				border-right: solid 2px @sun-flower;
			}
		}

		.box-date {
			position: relative;
			z-index: (@max-zindex / 100);
			clear: both;
			.grid-column(1);
			width: (@width - 2);
			height: (@baseline - 2);
			margin: 0 auto @baseline auto;
			background-color: @clouds;
			font-size: (@rhythm*2);
			line-height: (@baseline - 2);
			letter-spacing: 0.1em;
			text-align: center;
		}
	}
}


@media (max-width: 660px) {
	.timeline {
		.legend {
			> a {
				float: none;
				display: block;
				.grid-column(4);
				max-width: @width - 20; // 280px
				margin: 0 auto (@rhythm * 2) auto;

				&:last-child {
					margin-right: auto;
				}
			}
		}

		.content {
			padding: @baseline 0px;

			.box {
				position: relative;
				z-index: (@max-zindex / 100);
				float: none;
				.grid-column(4);
				width: (@width - 2 - 12 * 2 - 20); // 280px
				margin: 0px auto @baseline auto;

				&:before, &:hover:before {
					background-color: transparent;
				}

				&:nth-child(3), &:nth-child(2n+4) {
					margin-top: @baseline;
				}

				&:nth-child(2n+1) {
					margin-right: auto;
				}
			}
		}
	}
}
